body{
    background-color: #000000ee;
}
.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}
.inner-container{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 150px;
    background-image: url(./Img/stages-of-life-over-a-full-human-life-cycle.png);
    border: 3px solid gray;
    border-radius: 5px;
}
.tittle{
    color: rgb(10, 25, 37);
    margin-top: 0;
    text-align: center;
    
}

